/*
Name: Gervic Store Custom Theme
Description: Custom theme of my store.
Author: Gervic
Version: 1.0
*/

@font-face {
    font-family: Cal;
    src: url(/wp-content/themes/gervicstore/fonts/calibri.woff),
         url(/wp-content/themes/gervicstore/fonts/calibri.eot),
         url(/wp-content/themes/gervicstore/fonts/calibri.eot?#iefix),
         url(/wp-content/themes/gervicstore/fonts/calibri.ttf);
}

@font-face {
    font-family: Tah;
    src: url(/wp-content/themes/gervicstore/fonts/tahoma.woff),
         url(/wp-content/themes/gervicstore/fonts/tahoma.eot),
         url(/wp-content/themes/gervicstore/fonts/tahoma.eot?#iefix),
         url(/wp-content/themes/gervicstore/fonts/tahoma.ttf);
}

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #f5f0f0;
}

.clear {
	clear: both;
}

.mobileHeader, .mainHeaderFixed, .mobile-nav-container, .m-footer, .main-blackscreen, .cookie-notification {
	display: none;
}

.cookie-notification {
	width: 100%;
	position: fixed;
	top: 20%;
	z-index: 11;
}

.cookie-notification .container {
	width: 40%;
	border: 1px solid #0685fb;
	margin: 0 auto;
}

.cookie-notification .header {
	background-color: #0685fb;
	color: #fff;
	padding: 10px;
	font-family: 'Comfortaa', cursive;
}

.cookie-notification .content {
	background-color: #fff;
	padding: 10px;
	font-family: 'Comfortaa', cursive;
}

.cookie-notification .button {
	text-align: center;
	padding: 20px;
	background-color: #fff;
}

.cookie-notification .button span {
	font-family: 'Comfortaa', cursive;
	background-color: #e8191e;
	padding: 10px 20px;
	color: #fff;
	cursor: pointer;
}

.cookie-notification .button span:hover {
	color: yellow;
}

.cookie-notification .button span:active {
	position: relative;
	left: 1px;
	top: 1px;
}

.main-blackscreen {
	border: 1px solid #000;
	background-color: #000;
	opacity: 0.6;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.mainHeader .topHeader {
	background-image: url(/wp-content/themes/gervicstore/img/pw_maze_black.png);
	padding: 2px;
}

.mainHeader .topHeader-left {
	width: 69%;
	float: left;
}

.mainHeader .topHeader-right {
	width: 30.5%;
	float: left;
	text-align: right;
	position: relative;
	z-index: 10;
}

.mainHeader .topHeader-right ul {
	margin-right: 5%;
}

.mainHeader .topHeader-right ul li {
	list-style: none;
	float: right;
}

.mainHeader .topHeader-right ul li a {
	display: block;
	width: 135px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	font-family: 'Comfortaa', cursive;
}

.mainHeader .topHeader-right ul li ul {
	border: 1px solid #000;
	position: absolute;
	background-image: url(/wp-content/themes/gervicstore/img/pw_maze_black.png);
	display: none;
}

.mainHeader .topHeader-right ul li ul li a:hover {
	color: yellow;
}

.mainHeader .topHeader-right ul li:hover ul  {
	display: block;
}

.mainHeader .topHeader-right ul li ul li {
	padding: 5px;
}

.mainHeader .topHeader .topHeader-left ul li {
	list-style: none;
	float: left;
}

.mainHeader .topHeader .topHeader-left ul li a {
	display: block;
	width: 135px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	font-family: 'Comfortaa', cursive;
}

.mainHeader .topHeader .topHeader-left ul li a:hover {
	color: yellow;
}

.middleHeader {
	background: -webkit-linear-gradient(top, #47a3fa 50%, #0685fb 50%);
	background: -moz-linear-gradient(top, #47a3fa 50%, #0685fb 50%);
	background: -o-linear-gradient(top, #47a3fa 50%, #0685fb 50%);
	background: -ms-linear-gradient(top, #47a3fa 50%, #0685fb 50%);
	padding: 20px;
}

.menuHeader {
	border-bottom: 1px solid #033d74;
	background-color: #044785;
	padding: 5px;
}

.menuHeader-left {
	width: 90%;
	float: left;
}

.menuHeader-left ul li {
	list-style: none;
	float: left;
	margin: 0 1%;
}

.menuHeader-left ul li a {
	color: #fff;
	text-decoration: none;
	width: 120px;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: 13px;
}

.menuHeader-left ul li a:hover {
	color: yellow;
}

.menuHeader-right {
	width: 19%;
	text-align: right;
	position: absolute;
	right: 0;
	padding-right: 1%;
}

.cart-menu-dropdown {
	color: #fff;
}

.items-count {
	color: #fff;
	font-family: Cal;
	font-size: 14px;
}

.header-cart-container {
	cursor: pointer;
}

.mainHeaderFixed {
	position: fixed;
	top: 20px;
	width: 100%;
	z-index: 10;
}

.mainHeaderFixed-top {
	background-color: #044785;
	padding: 10px;
}

.mainHeaderFixed-top .mainHeaderFixed-top-left ul li {
	list-style: none;
	float: left;
	margin: 0 1%;
}

.mainHeaderFixed-top .mainHeaderFixed-top-left ul li a {
	color: #fff;
	text-decoration: none;
	width: 130px;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: 13px;
}

.mainHeaderFixed-top .mainHeaderFixed-top-left-right ul li {
	list-style: none;
	float: left;
}

.mainHeaderFixed-top .mainHeaderFixed-top-right ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
	width: 130px;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: 14px;
}

.mainHeaderFixed-top ul li a:hover {
	color: yellow;
}

.mainHeaderFixed-bottom {
	display: none;
}

.mainHeaderFixed-top-left {
	width: 90%;
	float: left;
}

.mainHeaderFixed-top-right {
	width: 20.5%;
	color: #fff;
	position: absolute;
	right: 0;
	padding-right: 1%;
}

.mainHeaderFixed-bottom ul li {
	list-style: none;
	float: left;
}

.mainHeaderFixed-bottom ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
	width: 130px;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: 14px;
}

.mainHeaderFixed-bottom ul li a:hover {
	color: yellow;
}

.mainHeaderFixed-top-right ul li {
	list-style: none;
	float: right;
}

.mainHeaderFixed-top-right ul li ul {
	border: 1px solid #044785;
	position: absolute;
	background-color: #044785;
	width: 130px;
	display: none;
}

.mainHeaderFixed-top-right ul li ul li {
	display: block;
	float: none !important;
	text-align: center;
	margin: 5px 0px;
}

.mainHeaderFixed-top-right ul li ul li a:hover {
	color: yellow;
}

.mainHeaderFixed-top-right ul li:hover ul {
	display: block;
}

.mainHeaderFixed-bottom span {
	float: right;
	padding: 5px;
	padding-right: 20px;
	background-image: url(/wp-content/themes/gervicstore/img/pw_maze_black.png);
	border-radius: 0px 0px 0px 100px
}

.header-fixed-cart-container {
	cursor: pointer;
}

.header-cart-list {
	border: 2px solid #033d74;
	background-color: #fff;
	position: absolute;
	margin-top: 20px;
	right: 0px;
	width: 24%;
	height: 60%;
	padding: 5px;
	border-radius: 5px;
	display: none;
	z-index: 1;
}

.header-cart-list::before {
	content: " ";
	width: 0px;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 15px solid #033d74;
	position: absolute;
	margin: -20px 0px;
	right: 10px;
}

.header-cart-list-top {
	overflow-y: none;
}

.header-cart-list-top a {
	text-decoration: none;
	color: #000;
}

.header-cart-list-top a:hover {
	text-decoration: underline;
}

.header-cart-list-bottom {
	position: relative;
	text-align: center;
	background-color: #fff;
	padding: 10px 0px;
}

.header-cart-list-bottom a {
	padding: 10px 20px;
	text-decoration: none;
	font-family: Cal;
	background-color: #0685fb;
	color: #fff;
}

.header-cart-list table {
	width: 100%;
}

.header-cart-list table tr th, .header-cart-list table tr td {
	font-size: 11px;
	font-family: 'Comfortaa', cursive;
	text-align: center;
}

.header-cart-list table tbody tr td:nth-child(1) {
	width: 30%;
	padding-bottom: 15px;
}

.header-cart-list table tbody tr td:nth-child(1) img {
	width: 100%;
	height: 50%;
}

.table-total-price {
	text-align: right !important;
	font-size: 16px !important;
}

.header-cart-list-empty {
	text-align: center;

}

.header-cart-list-empty img {
	margin-top: 50%;
}

.mainSection, #container {
	width: 75.5%;
	float: left;
}

.mainAside {
	width: 24%;
	float: left;
}

/*404 Page*/
.not-fount-container {
	text-align: center;
}

.not-fount-container img {
	width: 100%;
	height: 100%;
}

/*homepage-container*/
.homepage-whatshot-container, .homepage-new-items-container {
	padding: 10px;
}

.homepage-whatshot-header, .homepage-new-items-header {
	border: 1px solid #e8191e;
	background-color: #e8191e;
	padding: 10px;
	color: #fff;
	font-family: 'Comfortaa', cursive;
}

.homepage-whatshot-contents, .homepage-new-items-contents {
	padding: 20px 10px;
	font-family: 'Comfortaa', cursive;
	text-align: center;
}

.homepage-whatshot-contents ul li, .homepage-new-items-contents ul li {
	list-style: none;
	float: left;
	margin: 0px 5px;
	margin-bottom: 40px;
	background-color: #fff;
	border: 1px solid #e1dede;
	padding: 20px 5px;
	width: 30%;
	box-shadow: 10px 15px 10px #b4b3b3;
}

.homepage-whatshot-contents ul li img, .homepage-new-items-contents ul li img {
	height: 60%;
	width: 60%;
}

.homepage-product-name a, .homepage-product-cart a {
	color: #2c2b2b;
	text-decoration: none;
}

.homepage-product-name a:hover {
	text-decoration: underline;
}

.homepage-product-cart {
	text-align: center;
	margin-top: 5px;
}

.homepage-product-cart a:nth-child(1), .homepage-product-cart a:nth-child(2) {
	text-align: center;
	border: 1px solid #e8191e;
	background-color: #e8191e;
	color: #fff;
	margin: 0px auto;
	padding: 5px;
	border-radius: 5px;
	font-size: 12px;
}

.homepage-product-cart a:hover {
	color: yellow;
}

.homepage-product-cart .wc-forward  {
	margin-top: 10px;
}

.homepage-product-showmore {
	text-align: right;
}

.homepage-product-showmore a {
	color: #2c2b2b;
	text-decoration: none;
	font-size: 13px;
	border: 1px solid #ccc;
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
}

.homepage-product-showmore a:hover {
	color: #e8191e;
	text-decoration: underline;
}


/*Pagination Blog*/
.pagination {
	text-align: center;
	padding: 10px;
}

.pagination span, .pagination a {
	margin: 2px 2px 2px 0;
	padding: 6px 9px 5px 9px;
	text-decoration: none;
	width: auto;
	color: #fff;
	background: #e8191e;
	font-family: 'Comfortaa', cursive;
}

.pagination a:hover {
	color: yellow;
}


/*Blog Page Content*/
.mainWpContent {
	padding: 10px;
	background-color: #fff;
}

.mybreadcrumb {
	font-family: Tah;
	color: #403f3f;
	padding: 20px 10px;
	color: #fff;
}

.mybreadcrumb a {
	color: #fff;
	text-decoration: none;
}

.mybreadcrumb a:hover {
	color: yellow;
}

.mybreadcrumb span:nth-child(odd) {
	border: 1px solid #e8191e;
	background-color: #e8191e;
	margin-right: 0px;
	padding: 5px;
	padding-left: 40px;
}

.mybreadcrumb span:nth-child(odd):after {
	content: "";
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 13px solid transparent;
	border-left: 23px solid #e8191e;
	position: absolute;
	margin-left: 6px;
	margin-top: -6px;
}

.mybreadcrumb span:nth-child(even) {
	border: 1px solid #e54549;
	background-color: #e54549;
	margin-right: 0px;
	padding: 5px;
	padding-left: 30px;
}

.mybreadcrumb span:nth-child(even)::after {
	content: "";
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 13px solid transparent;
	border-left: 25px solid #e54549;
	position: absolute;
	margin-left: 6px;
	margin-top: -6px;
}

.mainArticle {
	border: 1px solid #ccc;
	width: 80%;
	margin: 20px auto;
	padding: 10px;
	border-radius: 10px;
}

.articleLeft {
	width: 21%;
	float: left;
	padding: 10px;
}

.articleRight {
	width: 74.5%;
	float: left;
}

.articleLeft .articleThumbnail img {
	width: 100%;
	height: 100%;
}

.articleRight h2 {
	font-family: 'Comfortaa', cursive;
	color: #2c2b2b;
}

.articleRight h2 a {
	color: #2c2b2b;
}

.articleInfo {
	margin: 10px 0px;
	font-family: 'Comfortaa', cursive;
	color: #2c2b2b;
	font-size: 14px;
}

.articleInfo ul li {
	display: block;
}

.articleInfo ul li a {
	color: #2c2b2b;
}

.articleContent {
	font-family: 'Comfortaa', cursive;
}

.articleContent a {
	display: block;
	background-color: #e8191e;
	text-align: center;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	margin: 10px 0px;
}

.articleContent a:hover {
	color: yellow;
}

/*Single Blog Page*/
.mainWpContent h2 {
	font-family: 'Comfortaa', cursive;
	color: #2c2b2b;
	margin-top: 10px;
}

.mainWpContent .singleInfo {
	font-family: 'Comfortaa', cursive;
	color: #2c2b2b;
	font-size: 14px;
	margin: 10px 0px;
}

.mainWpContent .singleInfo ul li {
	display: block;
}

.mainWpContent .singleInfo ul li a {
	color: #2c2b2b;
	text-decoration: none;
}

.mainWpContent .singleInfo ul li a:hover {
	text-decoration: underline;
}

.mainWpContent .singleContents {
	font-family: 'Comfortaa', cursive;
	color: #2c2b2b;
	font-size: 14px;
}

.mainWpContent .singleContents p {
	margin: 10px 0px;
}

/*Comments*/
.mainWpContent .comments-area {
	margin-top: 50px;
}

.mainWpContent .comment-list {
	margin: 10px;
}

.mainWpContent .comment-list li {
	list-style: none;
	border: 1px solid #ccc;
	background-color: #ece9e9;
	padding: 10px;
	font-family: 'Comfortaa', cursive;
	color: #2c2b2b;
	font-size: 14px;
	width: 70%;
}

.mainWpContent .comment-list li a {
	color: #2c2b2b;
}

.mainWpContent .comment-respond {
	margin: 40px 0px;
	font-family: 'Comfortaa', cursive;
	color: #2c2b2b;
}

.mainWpContent #email-notes {
	font-size: 13px;
}

.mainWpContent, .logged-in-as a {
	color: #2c2b2b;
	font-size: 13px;
}

.mainWpContent .comment-form-comment {
	margin: 10px 0px;
}

.mainWpContent .comment-form p {
	margin: 10px 0px;
	width: 100%;
}

.mainWpContent .comment-form p:nth-child(1) {
	margin: 0;
}

.mainWpContent .comment-form-comment textarea {
	width: 71%;
	height: 150px;
	padding: 5px;
}

.mainWpContent .comment-form-comment label,
.mainWpContent .comment-form-author label,
.mainWpContent .comment-form-email label,
.mainWpContent .comment-form-url label {
	font-size: 13px;
	width: 100%;
	display: block;

}

.mainWpContent .comment-form-author [type=text],
.mainWpContent .comment-form-email [type=text],
.mainWpContent .comment-form-url [type=text] {
	width: 50%;
	padding: 5px;
}

.mainWpContent .form-submit [type=submit] {
	border: 1px solid #e8191e;
	background-color: #e54549;
	padding: 10px;
	color: #fff;
	font-family: 'Comfortaa', cursive;
	cursor: pointer;
}

.mainWpContent .form-submit [type=submit]:hover {
	color: yellow;
}


/*Order-Receive*/
.woocommerce-thankyou-order-failed {
	border: 1px solid #fd5a5e;
	background-color: #fd5a5e;
	padding: 10px;
	color: #fff;
	font-family: 'Comfortaa', cursive;
}

.woocommerce-thankyou-order-failed-actions {
	margin-top: 20px;
}

.woocommerce-thankyou-order-failed-actions a {
	border: 1px solid #e8191e !important;
	background-color: #e8191e !important;
	color: #fff !important;
	font-family: 'Comfortaa', cursive;
}

.woocommerce-thankyou-order-failed-actions a:hover {
	color: yellow !important;
}

.woocommerce-thankyou-order-received {
	border: 1px solid #03d317;
	background-color: #03d317;
	color: #fff;
	padding: 10px;
	font-family: 'Comfortaa', cursive;
	margin-bottom: 20px;
}

.woocommerce-thankyou-order-details {
	border: 1px solid #f2f6f3;
	background-color: #f2f6f3;
	padding: 10px;
	font-family: Cal;
	font-size: 110%;
}

.woocommerce-checkout-container form p:nth-child(1) {
    border: 0px solid !important;
    background-color: transparent !important;
}

#account_username_field label, #account_username_field input {
	margin-left: -18px;
}

#account_username_field input {
	width: 100% !important;
}

.orderDetailsHeader {
	margin: 20px 0px;
	border: 1px solid #e8191e;
	background-color: #e8191e;
	padding: 10px;
	font-family: 'Comfortaa', cursive;
	color: #fff;
}

.item-order, .customer_details {
	border: 1px solid #e8191e !important;
	font-family: 'Comfortaa', cursive;
}

.item-order thead tr th, .customer_details thead tr th {
	border: 1px solid #e8191e;
	background-color: #e8191e;
	font-family: 'Comfortaa', cursive;
	color: #fff;
	border-radius: 2px 2px 0px 0px;
}

.item-order .product-name a {
	color: #000;
	text-decoration: none;
}

.item-order .product-name a:hover {
	text-decoration: underline;
}

.order-details-custom h2 {
	margin: 20px 0px;
	border: 1px solid #e8191e;
	background-color: #e8191e;
	padding: 10px;
	font-family: 'Comfortaa', cursive;
	color: #fff;
}

.addrs {
	border: 1px solid red !important;
	padding: 10px;
	font-family: 'Comfortaa', cursive;
	width: 98% !important;
}



.aside-container ul li {
	list-style: none;
	margin: 10px 10px;
	margin-bottom: 10px;
}

.aside-container ul li h2.widgettitle {
	border: 1px solid #e8191e;
	background-color: #e8191e;
	color: #fff;
	padding: 5px;
	font-family: 'Comfortaa', cursive;
	font-size: 16px;
}

.aside-container ul li ul {
	padding: 5px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	border: 1px solid #e8191e;
	background-color: #fff;
}

.aside-container ul li ul li {
	font-family: 'Comfortaa', cursive;
	font-size: 14px;
	margin: 10px 0px;
}

.aside-container ul li ul li a {
	color: #000;
	text-decoration: none;
}

.aside-container ul li ul li a:hover {
	text-decoration: underline;
}



.mainFooter {
	border: 1px solid #221e1d;
	background-color: #282828;
}

.mainFooter .footer-top {
	background-color: #282828;
	margin-top: 40px;
}

.mainFooter .footer-top .footer-top-left, .mainFooter .footer-top .footer-top-middle,
.mainFooter .footer-top .footer-top-right {
	width: 33%;
	float: left;
	font-family: 'Muli', sans-serif;
}

.mainFooter .footer-top .footer-top-left h2 {
	color: #fff;
	margin-bottom: 20px;
	font-size: 18px;
}

.mainFooter .footer-top .footer-top-middle h2 {
	margin-bottom: 30px;
	font-size: 18px;
}

.mainFooter .footer-top .footer-top-left .footer-top-left-container {
	width: 70%;
	margin: 0 auto;
}

.mainFooter .footer-top .footer-top-left .footer-top-left-container .home-address,
.mainFooter .footer-top .footer-top-left .footer-top-left-container .contacts,
.mainFooter .footer-top .footer-top-left .footer-top-left-container .email {
	margin-bottom: 25px;
}

.mainFooter .footer-top .footer-top-left .footer-top-left-container .left {
	width: 12%;
	text-align: center;
	float: left;
}

.mainFooter .footer-top .footer-top-left .footer-top-left-container .right {
	float: left;
	color: #fff;
	font-size: 14px;
}

.mainFooter .footer-top .footer-top-left .footer-top-left-container .home-address .right {
	line-height: 25px;
}

.mainFooter .footer-top .footer-top-middle .footer-top-middle-container {
	color: #fff;
	font-size: 13px;
	width: 60%;
	margin: 0 auto;
}

.mainFooter .footer-top .footer-top-middle .footer-top-middle-container ul li {
	display: block;
	margin-bottom: 30px;
	line-height: 20px;
}

.mainFooter .footer-top .footer-top-middle .footer-top-middle-container ul li span {
	margin-right: 15px;
}

.mainFooter .footer-top .footer-top-right .footer-top-right-container {
	width: 90%;
	margin: 0 auto;
	margin-top: 15%;
}

.mainFooter .footer-top .footer-top-right .footer-top-right-container h2 {
	color: #fff;
}

.mainFooter .footer-top .footer-top-right .footer-top-right-container .footer-search-form {
	border: 1px solid #e8191e;
	padding: 10px;
	background-color: #e8191e;
	border-radius: 5px;
}

.mainFooter .footer-top .footer-top-right .footer-top-right-container .footer-search-form [type=text] {
	padding: 7px;
	width: 77%;
}

.mainFooter .footer-top .footer-top-right .footer-top-right-container .footer-search-form [type=submit] {
	background-color: #e8191e;
	border: 1px solid #e8191e;
	color: #fff;
	font-family: 'Muli', sans-serif;
	margin-left: 8px;
	cursor: pointer;
}

.mainFooter .footer-top .footer-top-right .footer-top-right-container .footer-search-form [type=submit]:hover {
	color: yellow;
}

.mainFooter .footer-bottom {
	border-top: 1px solid #221e1d;
	background-color: #221e1d;
	padding: 20px;
	color: #c9c1c0;
	font-family: Cal;
	font-size: 14px;
}

.mainFooter .footer-bottom-left {
	float: left;
	width: 49%;
}

.mainFooter .footer-bottom-left span {
	border-left: 1px solid #434242;
	border-right: 1px solid #323231;
	margin: 0 5px;
}

.mainFooter .footer-bottom-right {
	width: 40%;
	float: right;
	text-align: right;
	padding-right: 50px;
}

.mainFooter .footer-bottom-right a {
	color: #ccc;
}

.mainFooter .footer-bottom-right span {
	border-left: 1px solid #434242;
	border-right: 1px solid #323231;
	margin: 0 10px;
}




/*Woocommerce page styling*/
.mainSection .woocommerce {
	padding: 10px;
}

#container .page-title {
	margin-bottom: 20px;
}

#container .woocommerce-info {
	border: 1px solid #fc0101;
    background-color: #f95b5b;
    font-family: 'Comfortaa', cursive;
    color: #fff;
    width: 85%;
    margin: 0 auto !important;
    margin-bottom: 20px !important;
}

.woocommerce .showcoupon {
	cursor: pointer !important;
	text-decoration: underline !important;
}

.woocommerce-breadcrumb {
	font-family: Tah;
	color: #403f3f;
	padding: 20px 10px;
	color: #fff;
}

.woocommerce-breadcrumb a {
	color: #fff;
	text-decoration: none;
}

.woocommerce-breadcrumb a:hover {
	color: yellow;
}

.woocommerce-breadcrumb span:nth-child(odd) {
	border: 1px solid #e8191e;
	background-color: #e8191e;
	margin-right: 0px;
	padding: 5px;
	padding-left: 40px;
}

.woocommerce-breadcrumb span:nth-child(odd)::after {
	content: "";
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 16px solid transparent;
	border-left: 25px solid #e8191e;
	position: absolute;
	margin-left: 6px;
	margin-top: -6px;
}

.woocommerce-breadcrumb span:nth-child(even) {
	border: 1px solid #e54549;
	background-color: #e54549;
	margin-right: 0px;
	padding: 5px;
	padding-left: 30px;
}

.woocommerce-breadcrumb span:nth-child(even)::after {
	content: "";
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 16px solid transparent;
	border-left: 25px solid #e54549;
	position: absolute;
	margin-left: 6px;
	margin-top: -6px;
}

.page-title {
	font-family: 'Comfortaa', cursive;
	padding: 5px 10px;
	border: 1px solid #e8191e;
	background-color: #e8191e;
	color: #fff;
	font-size: 20px;
	width: 96%;
	margin: 0px auto;
}

.woocommerce-result-count {
	display: none;
}

.woocommerce-ordering {
	display: none;
}

.products {
	padding: 5px 10px;
	text-align: center;
}

.products li {
	display: inline-block;
	margin: 20px 2px;
	border: 1px solid #e8e7e7;
	background-color: #fff;
	padding: 10px 0px;
	box-shadow: 10px 15px 10px #b4b3b3;
}

.products li img {
	width: 60%;
	height: 60%;
}

.products li a {
	text-decoration: none;
}

.products li h3 {
	font-family: 'Comfortaa', cursive;
	color: #494a49;
}

.star-rating {
	font-family: 'Comfortaa', cursive;
	color: #494a49;
	font-size: 13px;
}

.woocommerce-message {
	border: 1px solid #42fa98;
	background-color: #42fa98;
	padding: 10px;
	width: 80%;
	margin: 5px auto !important;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	color: #fff;
}

.woocommerce-message a {
	color: #fff;

}

.woocommerce-Price-amount {
	font-family: 'Comfortaa', cursive;
	margin-right: 5px;
}

.woocommerce-Price-amount {
	text-decoration: none;
	color: #494a49;
}

.add_to_cart_button  {
	text-align: center;
	border: 1px solid #e8191e;
	background-color: #e8191e;
	color: #fff;
	margin: 0px auto;
	padding: 5px;
	border-radius: 5px;
	font-size: 12px;
	font-family: 'Comfortaa', cursive;
	text-decoration: none;
	display: block;
	width: 50%;
}

.add_to_cart_button:hover {
	color: yellow !important;
}


/*Single Product*/
.product-blackscreen {
	border: 1px solid #000;
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	display: none;
	z-index: 20;
}

.product-image-view {
	border: 2px solid #ccc;
	background-color: #fff;
	position: fixed;
	width: 80%;
	height: 80%;
	left: 12%;
	top: 10%;
	border-radius: 20px;
	display: none;
	z-index: 21;
	text-align: center;
}

.product-image-thumbnail-preview {
	width: 70% !important;
	height: 70% !important;
	margin: 5% 0;
}

.product {
	color: #403f3f;
}

.product .images {
	float: left;
	padding: 10px;
	text-align: center;
	width: 50%;
}

.product .attachment-shop_single {
	width: 70%;
	height: 70%;
}

.product .thumbnails {
	border: 2px solid #e8191e;
	margin: 20px 0px;;
	padding: 10px;
	border-radius: 10px;
}

.product .thumbnails img {
	width: 15%;
	height: 15%;
}

.product .entry-summary {

}

.product_title {
	font-family: 'Comfortaa', cursive;
	margin-bottom: 10px;
}

.product .woocommerce-product-rating {
	margin: 10px 0px;
}

.product .woocommerce-product-rating a {
	color: #403f3f;
	text-decoration: none;
}

.product .woocommerce-product-rating a:hover {
	text-decoration: underline;
}

.product .price {
	margin-bottom: 5px;
}

.product .quantity {
	margin-bottom: 5px;
}

.product .quantity [type=number] {
	width: 3%;
	float: left;
	padding: 10px;
	margin-right: 10px;
}

.product .single_add_to_cart_button {
	border: 1px solid #e8191e;
	background-color: #e54549;
	padding: 10px;
	color: #fff;
	font-family: 'Comfortaa', cursive;
	cursor: pointer;
}

.product .single_add_to_cart_button:hover {
	color: yellow;
}

.product .product_meta {
	margin: 5px 0px;
	font-family: 'Comfortaa', cursive;
}


.product .product_meta a, .product .description_tab a, .product .reviews_tab a {
	color: #403f3f;
	text-decoration: none;
}

.product .product_meta a:hover, .product .description_tab a:hover, .product .reviews_tab a:hover {
	text-decoration: underline;
}

.product .wc-tabs-wrapper .wc-tabs li {
	display: inline-block;
	font-family: 'Comfortaa', cursive;
}

.product .woocommerce-Tabs-panel--description {
	font-family: 'Comfortaa', cursive;
	margin-top: 20px;
	clear: both;
	padding: 10px;
}

.product .woocommerce-Tabs-panel--description h2 {
	background-color: #e8191e;
	padding: 5px 50px;
	width: 35%;
	color: #fff;
	margin-bottom: 5px;
}

.woocommerce-Tabs-panel--reviews {
	font-family: 'Comfortaa', cursive;
	margin-top: 20px;
	padding: 10px;
}

.product .wc-tabs-wrapper ul li {
	list-style: none;
}

.product .woocommerce-Reviews {

}

.product .woocommerce-Reviews-title {
	font-size: 13px;
	margin-bottom: 10px;
	background-color: #e8191e;
	padding: 5px;
	color: #fff;
}

.product .woocommerce-Reviews .stars a {
	color : #403f3f;
	text-decoration: none;
	margin-right: 5px;
	font-size: 15px;
}

.product .woocommerce-Reviews .stars a:hover {
	text-decoration: underline;
}

.product .comment_container {
	border: 1px solid #e8e7e7;
	background-color: #f4f1f1;
	margin-bottom: 15px;
	padding: 10px;
}

.product .comment-respond {
	margin-top: 20px;
}

.product .comment-respond h3 {
	font-size: 15px;

}

.product .woocommerce-Reviews {
	float: left;
}

.product .woocommerce-Reviews p {
	margin: 5px 0px;
}

.product .comment-form select {
	padding: 5px;
	margin-left: 5px;
}

.product #comment {
	width: 100%;
	padding: 5px;
}

.product .comment-form-author, .comment-form-email {
	width: 60%;
}

.product .comment-form-author [type="text"], .comment-form-email [type="email"] {
	padding: 5px;
	width: 100%;
}

.product .form-submit [type="submit"] {
	border: 1px solid #e8191e;
	background-color: #e54549;
	padding: 10px;
	color: #fff;
	font-family: 'Comfortaa', cursive;
	cursor: pointer;
	margin-bottom: 50px;
}

.product .related {
	clear: both;;
}

.product .related h2 {
	border: 1px solid #e8191e;
	background-color: #e8191e;
	color: #fff;
	font-family: 'Comfortaa', cursive;
	font-size: 19px;
	padding: 10px;
}

.product .products li {
	width: 22%
}


/*my-account page*/
.woocommerce-cart-container {
	padding: 10px;
}

#customer_login h2 {
	font-family: 'Comfortaa', cursive;
	color: #2c2b2b;
}

#customer_login .login, #customer_login .register {
	border: 1px solid #ccc;
	background-color: #fff;
}

#customer_login .login label, #customer_login .register label {
	font-family: 'Comfortaa', cursive;
	color: #2c2b2b;
}

#customer_login .login [type=text], #customer_login .login [type=password],
#customer_login .register [type=text], #customer_login .register [type=password],
#customer_login .register [type=email] {
	padding: 5px;
}

#customer_login .login [type=submit], #customer_login .register [type=submit] {
	border: 1px solid #e8191e;
	background-color: #e54549;
	padding: 10px;
	color: #fff;
	font-family: 'Comfortaa', cursive;
	cursor: pointer;
	margin-bottom: 50px;
}

#customer_login .login [type=submit]:hover, #customer_login .register [type=submit]:hover {
	color: yellow;
}

#customer_login .login a {
	font-family: 'Comfortaa', cursive;
	color: #2c2b2b;
	font-size: 13px;
}

/*lost-password page*/
.woocommerce-ResetPassword-msg {
	font-family: 'Comfortaa', cursive;
}

.woocommerce-ResetPassword {
	font-family: 'Comfortaa', cursive;
	border: 1px solid #ccc;
	width: 50%;
	padding: 10px;
	margin: 40px auto;
	background-color: #fff;
}

.woocommerce-ResetPassword label {
	font-family: 'Comfortaa', cursive;
	color: #2c2b2b;
}

.woocommerce-ResetPassword .woocommerce-Input {
	width: 300px !important;
	padding: 5px;
}

.woocommerce-ResetPassword [type=submit] {
	border: 1px solid #e8191e !important;
	background-color: #e54549 !important;
	padding: 10px;
	color: #fff !important;
	font-family: 'Comfortaa', cursive;
	cursor: pointer;
	margin-bottom: 50px;
}


/*Dashboard Page*/
.woocommerce-MyAccount-navigation {
	background-color: #e54549;
	font-family: 'Comfortaa', cursive;
	padding: 10px;
	border-radius: 10px;
}

.woocommerce-MyAccount-navigation ul li {
	display: inline-block;
	margin: 0px 2%;
}

.woocommerce-MyAccount-navigation ul li a {
	color: #fff;
	text-decoration: none;
}

.woocommerce-MyAccount-navigation ul li a:hover {
	color: yellow;
}

.woocommerce-MyAccount-navigation .is-active a {
	color: yellow;
}

.woocommerce-MyAccount-content {
	margin: 10px 0px;
	border: 1px solid #ccc;
	padding: 10px;
	background-color: #fff;
	font-family: 'Comfortaa', cursive;
	color: #2c2b2b;
}

.woocommerce-MyAccount-content a {
	color: #2c2b2b;
	text-decoration: none;
}

.woocommerce-MyAccount-content a:hover {
	text-decoration: underline;
}

.woocommerce-MyAccount-content p {
	margin: 10px 0px;
}


/*Orders Page*/
.woocommerce-MyAccount-orders th {
	background-color: #e54549;
	color: #fff;
	margin: 0px !important;
}

.woocommerce-MyAccount-orders td:nth-child(1) a:hover {
	text-decoration: underline;
}

.woocommerce-MyAccount-orders td:nth-child(5) a {
	background-color: #e54549;
	color: #fff;
}

.woocommerce-MyAccount-orders td:nth-child(5) a:hover {
	color: yellow;
	background-color: #e54549;
}

.woocommerce-MyAccount-content h2 {
	background-color: #e54549;
	padding: 10px;
	margin: 20px 0px;
	color: #fff;
}

/*Download Page*/
.woocommerce-Message {
	margin: 0 !important;
	border: 1px solid #ccc;
}

.woocommerce-Message a {
	background-color: #e54549 !important;
	color: #fff !important;
}

.woocommerce-Message a:hover {
	color: yellow !important;
}


/*Addresses Page*/
.woocommerce-Address header {
	margin: 10px 0px;
}

.woocommerce-Address header h3 {
	background-color: #e54549;
	padding: 10px;
	color: #fff;
}

.woocommerce-Address header a {
	display: block;
	margin: 5px;
	font-size: 13px;
}

.woocommerce-Address address {
	margin-top: 20px;
}

.woocommerce-MyAccount-content form h3 {
	background-color: #e54549;
	padding: 10px;
	color: #fff;
}

.woocommerce-MyAccount-content form [type=text], .woocommerce-MyAccount-content form [type=email], .woocommerce-MyAccount-content form [type=tel],
.woocommerce-MyAccount-content form select {
	padding: 5px;
}

.woocommerce-MyAccount-content form [type=submit] {
	background-color: #e54549 !important;
	padding: 10px;
	color: #fff !important;
	font-family: 'Comfortaa', cursive;
	cursor: pointer;
}

.woocommerce-MyAccount-content form [type=submit]:hover {
	color: yellow;
}

/*Account Details Page*/
.woocommerce-EditAccountForm fieldset {
	border: 1px solid #ccc;
	margin-top: 20px;
	padding: 10px;
}

.woocommerce-EditAccountForm [type=password] {
	padding: 5px;
}


/*cart page*/
.woocommerce-cart-container  {
	padding: 10px;
}

.woocommerce-cart-container .cart {
	font-family: 'Comfortaa', cursive;
	background-color: #fff;
	color: #2c2b2b !important;
	border: 1px solid #e54549 !important;
}

.woocommerce-cart-container .shop_table th, .woocommerce-cart-container .shop_table td {
	text-align: center;
}

.woocommerce-cart-container .cart th {
	border: 1px solid #e54549;
	background-color: #e54549;
	border: none;
	color: #fff;
}

.woocommerce-cart-container .cart .actions {
	border: none;
}

.woocommerce-cart-container .shop_table th:nth-child(1), .woocommerce-cart-container .shop_table td:nth-child(1) {
	border: none;
}

.woocommerce-cart-container .shop_table td a {
	text-decoration: none;
	color: #2c2b2b;
}

.woocommerce-cart-container .shop_table td a:hover {
	text-decoration: underline;
}

.woocommerce-cart-container .shop_table td [type=number] {
	border: 1px solid #ccc;
	padding: 5px;
	text-align: center;
}

.woocommerce-cart-container .shop_table td .coupon  {
	width: 30%;
	text-align: center;
	width: 50%;
}

.woocommerce-cart-container .shop_table td .coupon [type=text] {
	width: 50% !important;
	padding: 5px;
}

.woocommerce-cart-container .shop_table td .coupon [type=submit] {
	margin: 0;
}

.woocommerce-cart-container .shop_table [type=submit] {
	border: 1px solid #e8191e !important;
	background-color: #e54549 !important;
	padding: 10px;
	color: #fff !important;
	font-family: 'Comfortaa', cursive;
	cursor: pointer;
}

.woocommerce-cart-container .shop_table [type=submit]:hover {
	color: yellow;
}

.woocommerce-cart-container .cart_totals {
	border: 1px solid #ccc;
	font-family: 'Comfortaa', cursive;
	background-color: #fff;
	color: #2c2b2b !important;
	margin-top: 20px;
}

.woocommerce-cart-container .cart_totals .shop_table_responsive {
	margin: 0;
}

.woocommerce-cart-container .cart_totals h2 {
	background-color: #e54549;
	padding: 10px;
	color: #fff;
}

.woocommerce-cart-container .cart_totals .shop_table_responsive td {
	border: none;
}

.woocommerce-cart-container .wc-proceed-to-checkout {
	padding: 0;

}

.woocommerce-cart-container .wc-proceed-to-checkout {
	text-align: center;
	padding: 10px;
}

.woocommerce-cart-container .wc-proceed-to-checkout a {
	border: 1px solid #e8191e;
	background-color: #e54549 !important;
	padding: 10px;
	color: #fff !important;
	font-family: 'Comfortaa', cursive;
	cursor: pointer;
}

.woocommerce-cart-container .wc-proceed-to-checkout a:hover {
	color: yellow !important;
}


/*Checkout page*/
.woocommerce-checkout-container {
	color: #2c2b2b;
	font-size: 13px;
}

.woocommerce-checkout-container .woocommerce-info {
	border: 1px solid #fc0101;
	background-color: #f95b5b;
	font-family: 'Comfortaa', cursive;
	color: #fff;
}

.woocommerce-checkout-container .woocommerce-info a {
	text-decoration: none;
	color: #2c2b2b;
	color: #fff;
}

.woocommerce-checkout-container .checkout_coupon .button {
	margin: 15px 0px;
}

.woocommerce-checkout-container form {
	border: 1px solid #ccc;
	padding: 10px;
	font-family: 'Comfortaa', cursive;
	background-color: #fff;
}

.woocommerce-checkout-container form label {
	font-size: 14px;
}

.woocommerce-checkout-container form [type=text], .woocommerce-checkout-container form [type=email],
.woocommerce-checkout-container form [type=password], .woocommerce-checkout-container form [type=tel],
.woocommerce-checkout-container form select, .woocommerce-checkout-container form textarea {
	padding: 5px;
}

.woocommerce-checkout-container form textarea {
	height: 300px !important;
}

.woocommerce-checkout-container form p:nth-child(1) {
	font-size: 13px;
	margin: 10px;
	border: 1px solid #ccc;
	padding: 10px;
	background-color: #ccc;
}

.woocommerce-checkout-container form #shipping_first_name_field {
	padding: 0px !important;
	border: none;
	background: none;
	margin: 3px 0px;
}

.woocommerce-checkout-container form #order_review_heading {
	margin-top: 15px !important;
}

.woocommerce-checkout-container .payment_methods a {
	text-decoration: none;
	color: #2c2b2b
}

.woocommerce-checkout-container .payment_methods a:hover {
	text-decoration: underline;
}


/*Error notification*/
.woocommerce-error {
	font-family: 'Comfortaa', cursive;
	font-size: 13px;
}


/*Aside Search*/
.aside-search-container {
	border: 1px solid #e8191e;
	background-color: #e8191e;
	padding: 2px;
	border-radius: 5px;
}

.aside-search-container .search-text-field {
	border: 1px solid #e8191e;
	width: 78%;
	border-radius: 5px 0px 0px 5px;
	padding: 5px;
	outline: none;
}

.aside-search-container .search-button {
	border: 1px solid #e8191e;
	background-color: #e8191e;
	color: #fff;
	font-family: Cal;
	cursor: pointer;
}

.aside-search-container .search-button:hover {
	color: yellow;
}



.widget_top_rated_products .star-rating {
	color: yellow;
}


/*shop now button*/
.shop-button {
	width: 50%;
	height: 50%;
}


/*Extra style for sidebar-login*/

.mainAside .sidebar-login p {
	margin-bottom: 10px;
}

.mainAside .sidebar-login {
	padding: 5px;
}

.mainAside .sidebar-login p:nth-child(1) [type=text], .mainAside .sidebar-login p:nth-child(2) [type=password] {
	width: 90%;
	padding: 5px;
}

.mainAside .sidebar-login p:nth-child(4) [type=submit] {
	border: 1px solid #e8191e;
    background-color: #e54549;
    padding: 10px 25px;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    cursor: pointer;
}

.mainAside .sidebar-login p:nth-child(4) [type=submit]:hover {
	color: yellow;
}


.mainAside .sidebar-login p:nth-child(5) {
	text-align: center;
}



.woocommerce-pagination {
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
	font-family: 'Comfortaa', cursive;
}

.woocommerce-pagination ul li {
	display: inline-block;
}

.woocommerce-pagination ul li .page-numbers {
	border: 1px solid #e8191e;
    background-color: #e8191e;
	padding: 5px 10px;
	color: #fff;
}

.woocommerce-pagination ul li a {
	border: 1px solid #e8191e;
    background-color: #e8191e;
	text-decoration: none;
	color: #fff;
}

.woocommerce-pagination ul li a:hover {
	color: yellow;
}



.icon-cart {
	background-image: url(/wp-content/themes/gervicstore/img/cart.png);
	padding: 5px 15px;
	background-repeat: no-repeat;
	background-position: 0px 3px;
	background-size: 22px;
}

.social-media-icons {
	background-image: url(/wp-content/themes/gervicstore/img/social-icons.png);
	background-repeat: no-repeat;

}

.fb-icon {
	padding: 10px 18px;
	background-size: 275px;
}

.twitter-icon {
	padding: 10px 18px;
	background-size: 275px;
	background-position: -40px 0px;
}

.google-icon {
	padding: 10px 18px;
	background-size: 275px;
	background-position: -80px 0px;
}

.linkedin-icon {
	padding: 10px 18px;
	background-size: 275px;
	background-position: -120px 0px;
}

.rss-icon {
	padding: 10px 18px;
	background-size: 275px;
	background-position: -240px 0px;
}

.glyph-icons {
	background-image: url(/wp-content/themes/gervicstore/img/glyph-icons.png);
	background-repeat: no-repeat;
}

.mail-icon {
	padding: 3px 12px;
	background-size: 145px;
	background-position: 0px -1px;
}

.home-icon {
	padding: 3px 12px;
	background-size: 145px;
	background-position: -33px -1px;
}

.device-icon {
	padding: 3px 12px;
	background-size: 145px;
	background-position: -65px -1px;
}

.menu-icon {
	padding: 3px 14px;
	background-size: 145px;
	background-position: -89px -1px;
}

.search-icon {
	padding: 3px 12px;
	background-size: 145px;
	background-position: -120px -2px;
}




/*Responsive Layout*/
/*Screen width 1245px below*/
@media screen and (max-width: 1248px) {
	.woocommerce-Tabs-panel--description {
		font-size: 12px;
		width: 100%;
	}
}

/*Screen width 1168px below*/
@media screen and (max-width: 1168px) {
	.footer-search-form [type=text] {
		width: 75% !important;
	}
}

/*Screen width 1135px below*/
@media screen and (max-width: 1135px) {
	.search-text-field {
		width: 75% !important;
	}
}

/*Screen width 1135px below*/
@media screen and (max-width: 1135px) {
	.header-cart-list {
		width: 30%;
	}

	.header-cart-list-bottom a {
		padding: 10px;
	}

	.woocommerce-Tabs-panel--description {
		font-size: 10px;
		width: 100%;
	}

	.footer-top-left-container {
		width: 85% !important;
		padding: 10px;
	}

	.footer-search-form [type=text] {
		width: 70% !important;
	}
}

/*Screen width 1010px */
@media screen and (max-width: 1010px) {
	.search-text-field {
		width: 73% !important;
	}
}

/*Screen width 945px */
@media screen and (max-width: 945px) {
	.search-text-field {
		width: 70% !important;
	}

	.woocommerce-cart-container .coupon {
		width: 70% !important;
	}
}

/*Screen width 985px */
@media screen and (max-width: 985px) {
	.topHeader-left ul li a {
		width: 100px !important;
	}

	.footer-top-left-container {
		width: 90% !important;
	}

	.footer-top-middle-container {
		width: 70% !important;
	}

	.footer-bottom {
		font-size: 13px !important;
	}
}

/*Screen width 942px */
@media screen and (max-width: 942px) {
	.woocommerce-MyAccount-navigation ul li {
		font-size: 14px;
		margin: 0px 1%
	}
}

/*Screen width 928px */
@media screen and (max-width: 928px) {
	.homepage-whatshot-contents ul li, .homepage-new-items-contents ul li {
		width: 29%;
	}

	.homepage-product-cart a {
		font-size: 11px !important;
	}

	.footer-search-form [type=text] {
		width: 67% !important;
	}
}

/*Screen width 890px */
@media screen and (max-width: 890px) {
	.footer-top-left-container {
		width: 100% !important;
		padding: 10px;
	}

	.footer-top-middle-container {
		width: 80% !important;
	}

	.footer-bottom-left {
		float: none !important;
		width: 100% !important;
		text-align: center;
		margin-bottom: 5px;
	}

	.footer-bottom-right {
		float: none !important;
		width: 94.5% !important;
		text-align: center !important;
	}
}

/*Screen width 865px */
@media screen and (max-width: 865px) {
	.aside-container h2 {
		font-size: 14px !important;
	}

	.search-text-field {
		width: 65% !important;
	}

	.mainHeaderFixed-top-left ul li a {

		width: 120px;
	}

	.header-cart-list-bottom a {
		font-size: 13px;
	}

	.homepage-new-items-contents ul li, .products li {
		width: 44%;
	}

	.footer-search-form [type=text] {
		width: 65% !important;
	}

	.footer-search-form [type=text] {
		width: 60% !important;
	}

}


/*Screen width 800px */
@media screen and (max-width: 800px) {
	.mainHeader, .mainHeaderFixed-top, .aside-search-container, .shop-button,
	.mainFooter .footer-top .footer-top-right, .mainAside .widget_sidebarlogin, .mybreadcrumb {
		display: none;
	}

	.mobileHeader {
		display: block;
		position: fixed;
		top: 0;
		width: 100%;
		padding: 10px;
		border-bottom: 1px solid #033d74;
		background-color: #044785;
		z-index: 20;
	}

	.cookie-notification {
		top: 30%;
	}

	.cookie-notification .container {
		width: 80%;
	}

	.mobileHeader ul li {
		list-style: none;
		float: left;
	}

	.mobileHeader ul li:nth-child(1) {
		padding: 5px;
	}

	.mobileHeader ul li:nth-child(2) {
		width: 86%;
		margin-left: 1%;
	}

	.mobileHeader ul li:nth-child(2) [type=text] {
		padding: 5px;
		width: 98%;
		background-color: #bef0fb;
	}

	.mobileHeader ul li:nth-child(3) {
		padding: 5px;
		float: right;
		margin-right: 3%;
	}

	.mobile-nav-container {
		border: 1px solid #044785;
		background-color: #044785;
		position: fixed;
		top: 50px;
		left: -101%;
		display: block;
		z-index: 20;
		width: 100%;
		overflow-y: auto;
		display: block;
	}

	.mobile-nav-container .m-user-account {
		padding: 2px 30px;
		text-align: right;
		background-image: url(/wp-content/themes/gervicstore/img/pw_maze_black.png);
		font-family: Cal;
	}

	.mobile-nav-container .m-user-account ul li {
		display: inline-block;
	}

	.mobile-nav-container .m-user-account ul li a {
		color: #fff;
	}

	.mobile-nav-container .top {
		padding: 10px;
		background: -webkit-linear-gradient(top, #47a3fa 50%, #0685fb 50%);
		background: -moz-linear-gradient(top, #47a3fa 50%, #0685fb 50%);
		background: -o-linear-gradient(top, #47a3fa 50%, #0685fb 50%);
		background: -ms-linear-gradient(top, #47a3fa 50%, #0685fb 50%);
	}

	.mobile-nav-container .top .left {
		width: 45%;
		float: left;
	}

	.mobile-nav-container .top .right {
		width: 35%;
		float: right;
		margin-top: 1.3%;
		text-align: center;
		font-family: Cal;
	}

	.mobile-nav-container .top .right a {
		color: #fff;
		text-decoration: none;
		font-size: 90%;
	}

	.mobile-nav-container .top img {
		width: 100%;
		height: 100%;
	}

	.mobile-nav-container .middle {
		border: 1px solid #e8191e;
		background-color: #e8191e;
	}

	.mobile-nav-container .middle .left, .mobile-nav-container .middle .right {
		width: 49.5%;
		float: left;
		font-family: 'Comfortaa', cursive;
		text-align: center;
		color: #fff;
	}

	.mobile-nav-container .middle .left h2, .mobile-nav-container .middle .right h2 {
		padding: 5px;
	}

	.mobile-nav-container .bottom .left, .mobile-nav-container .bottom .right {
		width: 49.5%;
		float: left;
		height: 100%;
		overflow-y: auto;
	}

	.mobile-nav-container .bottom .left {
		border-right: 1px solid #044077;
	}

	.mobile-nav-container .bottom .right {
		border-left: 1px solid #044d91;
	}

	.mobile-nav-container .bottom ul li {
		border-top: 1px solid #044077;
		border-bottom: 1px solid #044d91;
		text-align: center;
		padding: 10px;
	}

	.mobile-nav-container .bottom ul li a {
		font-family: 'Comfortaa', cursive;
		font-size: 130%;
		text-decoration: none;
		color: #fff;
		display: block;
	}

	.mainSection, #container {
		float: none;
		width: 100%;
		margin-top: 50px !important;
	}

	.related .products li {
		width: 33%;
	}

	.mainAside {
		float: none;
		width: 100%;
	}

	.homepage-whatshot-container .homepage-whatshot-header {
		font-size: 25px ;
	}

	.homepage-whatshot-container .homepage-whatshot-contents {
		text-align: center !important;
	}

	.homepage-whatshot-container .homepage-whatshot-contents ul li {
		float: none;
		width: 80%;
		margin: 0px auto;
		margin-bottom: 20px;
	}

	.homepage-whatshot-container .homepage-product-name a,
	.homepage-whatshot-container .woocommerce-Price-amount {
		font-size: 28px !important;
	}

	.homepage-whatshot-container .homepage-product-cart {
		margin-top: 20px !important;
	}

	.homepage-whatshot-container .homepage-product-cart a {
		padding: 10px 20px !important;
		font-size: 18px !important;
	}

	.homepage-new-items-container .homepage-new-items-header {
		font-size: 25px;
	}

	.homepage-new-items-container .homepage-product-name a {
		font-size: 24px !important;
	}

	.homepage-new-items-container  .woocommerce-Price-amount  {
		font-size: 19px !important;
	}

	.homepage-new-items-container .homepage-product-cart {
		margin-top: 20px;
	}

	.homepage-new-items-container .homepage-product-cart a {
		padding: 10px;
		font-size: 15px !important;
	}

	#content .woocommerce-tabs {
		width: 95%;
	}

	.aside-container ul li h2 {
		font-size: 20px !important;
	}

	.aside-container ul li ul li {
		font-size: 120%;
	}

	.mainFooter .footer-top .footer-top-left,
	.mainFooter .footer-top .footer-top-middle {
		width: 49%;
	}

	.mainFooter .footer-top .footer-top-left .footer-top-left-container,
	.mainFooter .footer-top .footer-top-middle .footer-top-middle-container {
		width: 80% !important;
		margin: 0px auto;
	}

	.addrs {
		border: 1px solid red !important;
		padding: 10px;
		font-family: 'Comfortaa', cursive;
		width: 93% !important;
	}
}

/*Screen width 720px */
@media screen and (max-width: 720px) {
	.mobileHeader ul li:nth-child(2) {
		width: 84%;
	}
}

/*Screen width 692px */
@media screen and (max-width: 692px) {
	.homepage-whatshot-container .homepage-product-name a {
		font-size: 24px !important;
	}

	.homepage-whatshot-container .woocommerce-Price-amount {
		font-size: 19px !important;
	}

	.homepage-product-cart a:nth-child(1), .homepage-product-cart a:nth-child(2) {
		font-size: 15px !important;
		padding: 10px !important;
	}

	.homepage-new-items-contents ul li {
		display: block;
		width: 80%;
		margin: 0px auto;
		margin-bottom: 20px;
		float: none;
	}

	.related .products li {
		width: 60%;
	}

	.related .products li .add_to_cart_button {
		width: 60%;
	}

	.mainFooter .footer-top {
		display: none;
	}

	.mainFooter .m-footer {
		display: block;
		font-family: 'Comfortaa', cursive;
		color: #fff;
	}

	.mainFooter .m-footer .m-footer-left {
		text-align: center;
	}

	.mainFooter .m-footer .m-footer-left .business-addr {
		margin-top: 30px;
	}

	.mainFooter .m-footer .m-footer-left .contacts {
		margin-top: 20px;
	}

	.mainFooter .m-footer .m-footer-right {
		margin-top: 50px;
	}

	.mainFooter .m-footer .m-footer-right h2 {
		display: block;
		text-align: center;
	}

	.mainFooter .m-footer .m-footer-right ul {
		margin-top: 15px;
		text-align: center;
	}

	.mainFooter .m-footer .m-footer-right ul li {
		display: inline-block;
		margin-bottom: 30px;
	}

	.mainFooter .m-footer .m-footer-right ul li span {
		margin-right: 2%;
	}

	.mainFooter .footer-bottom .footer-bottom-right {
		width: auto !important;
		padding: 0;
	}

	.mainFooter .footer-bottom .footer-bottom-right span {
		margin: 2%;
	}
}

/*Screen width 680px */
@media screen and (max-width: 680px) {
	.mobileHeader ul li:nth-child(2) {
		width: 85%;
	}
}

/*Screen width 720px */
@media screen and (max-width: 720px) {
	.mobileHeader ul li:nth-child(2) {
		width: 83%;
	}
}

/*Screen width 630px */
@media screen and (max-width: 630px) {
	.mobileHeader ul li:nth-child(2) {
		width: 82%;
	}
}

/*Screen width 580px */
@media screen and (max-width: 580px) {
	.mobileHeader ul li:nth-child(2) {
		width: 82%;
	}

	.woocommerce-Tabs-panel h2:nth-child(2) {
		width: 60% !important;
		text-align: center;
	}
}

/*Screen width 514px */
@media screen and (max-width: 514px) {
	.mobileHeader ul li:nth-child(2) {
		width: 80.5%;
	}

	.mobile-nav-container .top .right {
		margin-top: 1%;
	}
}

/*Screen width 502px */
@media screen and (max-width: 502px) {
	.mobileHeader ul li:nth-child(2) {
		width: 76%;
	}

	.mobileHeader ul li:nth-child(3) {
		float: left;
		margin-left: 3%;
	}

	.cookie-notification {
		top: 20%
	}

	#content .woocommerce-breadcrumb {
		display: none;
	}

	#content {
		padding-top: 20px;
	}

	#content .woocommerce-message {
		margin-bottom: 20px !important;
		width: 60%;
		font-size: 90%;
	}

	#content h1 {
		width: 90%;
	}

	#content .products li {
		width: 60%;
	}

	#content .images {
		float: none;
		width: 94%;
	}

	#content .images img {
		width: 80%;
		height: 80%;
	}

	#content .summary {
		text-align: center;
		width: auto;
	}

	#content .summary h1 {
		display: block;
		width: 98%;
		text-align: center;
	}

	#content .product .quantity [type=number] {
		float: none;
		width: 2%;
	}

	#content .product_meta {
		margin-top: 20px;
	}

	#content .woocommerce-tabs {
		width: 80%;
	}

	#content .woocommerce-tabs ul li {
		display: none;
	}

	#content .tabs {
		text-align: center;
	}

	#content .woocommerce-Tabs-panel h2 {
		width: 60%;
	}

	#content #comments h2 {
		width: 80.2%;
		font-size: 100%;
		padding: 5px 20px;
	}

	.woocommerce-cart-container .coupon {
		width: 100% !important;
	}

	.woocommerce-cart-container .coupon [type=text] {
		margin-bottom: 10px;
	}

	.woocommerce-cart-container .coupon [type=submit] {
		width: 100% !important;
	}
}

/*Screen width 416px */
@media screen and (max-width: 416px) {
	.homepage-whatshot-container .homepage-product-cart a {
		display: block;
		margin-bottom: 10px;
	}

	.homepage-whatshot-container .homepage-product-cart a:nth-child(2) {
		margin: 0;
	}

	.homepage-new-items-container .homepage-product-cart a {
		display: block;
		margin-bottom: 10px !important;
	}

	.homepage-new-items-container .homepage-product-cart a {
		display: block;
		margin-bottom: 10px !important;
	}

	.homepage-new-items-container .homepage-product-cart a:nth-child(2) {
		margin: 0 !important;
	}
}

/*Screen width 424px */
@media screen and (max-width: 424px) {
	.mobileHeader ul li:nth-child(2) {
		width: 74%;
	}
}

/*Screen width 400px */
@media screen and (max-width: 400px) {
	.mobileHeader ul li:nth-child(2) {
		width: 71%;
	}

	.mobile-nav-container .top .right {
		width: 50%;
	}
}

/*Screen width 333px */
@media screen and (max-width: 333px) {
	.mobileHeader ul li:nth-child(2) {
		width: 68%;
	}
}

/*Screen width 288px */
@media screen and (max-width: 288px) {
	.mobileHeader ul li:nth-child(2) {
		width: 63.5%;
	}

	.mobile-nav-container .top .right {
		width: 50%;
	}
}

/*Screen width 270 */
@media screen and (max-width: 270px) {
	.mobileHeader ul li:nth-child(2) {
		width: 65%;
	}
}
